In [1]:
import pandas as pd
dfmain = pd.read_csv('gtrends_opportunity_test_2022-07-27(1).csv', decimal=',')
df = dfmain[['Item Code', 'Price Point', 'Lowest Selling Price', 'Highest Selling Price', 
             'Category', 'Stock Qty.', 'gtrends_opportunity', 'ai_keyword', 'Image']]
df['Highest Selling Price'].max()

2349.99

In [2]:
dfmain.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Item Code', 'Image', 'Description',
       'Grouping', 'Article', 'Stock Qty.', 'AMS Cost', 'TSP',
       'AMS Cost Value', 'TSP Value', 'Price Point', 'Category', 'Ageing',
       'Aired', 'Duration', 'Sold Qty', 'Gross Sales', 'Net Sales', 'Margin',
       'Margin%', 'Number of Air', 'Highest Selling Price',
       'Lowest Selling Price', 'Date of last Airing', 'ai_keyword',
       'this_weeks_trend', 'max_value_90d', 'date_max_value_90d',
       'next_30d_avg', 'growth_rate', 'gtrends_opportunity'],
      dtype='object')

In [3]:
import ipywidgets as widgets
from IPython.display import Javascript, display
style = {'description_width': '750px'}
layout = {'position': 'Teft top', 'min_width': '750px'}

In [4]:
# Multi-Select
category_widget = widgets.Dropdown(
    options=df["Category"].unique(),
    value=df["Category"].unique()[1],
    description="Category",
    disbaled = False
    )

stock_widget = widgets.IntSlider(
    value=0,
    min=0,
    max=df["Stock Qty."].max(),
    step=1,
    description='Stock Qty.',
    disabled=False,
    continuous_update=False # Only update when the user has released the slider
)

price_widget = widgets.IntRangeSlider(
    value=[0, 10],
    min=0,
    max=df['Highest Selling Price'].max(),
    step=1,
    description='Price($):',
    disabled=False,
    continuous_update=False,
    orientation='horizontal',
    readout=True,
    readout_format='d'
)
    
stock_widget = widgets.IntSlider(
    value=0,
    min=0,
    max=df["Stock Qty."].max(),
    step=1,
    description='Stock Qty.',
    disabled=False,
    continuous_update=False
)

# Choose how many rows you want
n_widget = widgets.IntSlider(
    value=10,
    min=1,
    max=100,
    step=1,
    description='No. records',
    disabled=False,
    continuous_update=False # Only update when the user has released the slider
)

In [5]:
def show_df(n=n_widget, category=category_widget, stock=stock_widget, price=price_widget):
    df_filtered = df[(df["Category"]==category) &
                   (df["Stock Qty."]>stock) &
                   (df['Lowest Selling Price']>=list(price)[0]) &
                   (df['Highest Selling Price']<=list(price)[1])].head(n)
    df_final = df_filtered.drop(['Lowest Selling Price', 'Highest Selling Price'], axis=1)
    df_final = df_final.sort_values(by=['gtrends_opportunity'], ascending=False, ignore_index=True)
    display(df_final.style)

In [6]:
my_gadget = widgets.interactive(show_df)

display(my_gadget)

interactive(children=(IntSlider(value=10, continuous_update=False, description='No. records', min=1), Dropdown…

In [7]:
df_final2 = df.sort_values(by=['Stock Qty.'], ascending=False, ignore_index=True)
df_final2

,Item Code,Price Point,Lowest Selling Price,Highest Selling Price,Category,Stock Qty.,gtrends_opportunity,ai_keyword,Image
0,NaN,NaN,NaN,NaN,NaN,96120,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,1277,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,1179,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,1044,NaN,NaN,NaN
4,8924522.0,0-10,5.99,7.99,Home,912,70.22961824495981,Taschenlampe,Image not available
...,...,...,...,...,...,...,...,...,...
4485,2760526.0,51-100,49.99,99.99,Handbag,1,81.63685612238265,Handtasche,NaN
4486,6069036.0,21-50,29.99,39.99,Handbag,1,NaN,Crossbody-Tasche,NaN
4487,7594128.0,11-20,12.99,12.99,Handbag,1,81.63685612238265,Handtasche,NaN
4488,2990652.0,21-50,24.99,27.99,Handbag,1,45.75836373731753,Geldbörse,NaN
4489,6021492.0,21-50,19.99,39.99,Home,1,58.55027242820745,Kunstblume,NaN

In [11]:
voila horus.ipynb

SyntaxError: invalid syntax (2297366848.py, line 1)